*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#202020;

    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;

    width:100vw;
    height:100vh;

    overflow:hidden;

}

#game{

    background:#000000;

    border:2px solid white;

    image-rendering:pixelated;
    image-rendering:crisp-edges;

    display:block;

    width:min(100vw, 768px);
    height:auto;

}

#controls{

    margin-top:20px;

    user-select:none;
    text-align:center;

}

.middle{

    display:flex;
    justify-content:center;

    gap:15px;

    margin-top:15px;

}

button{

    width:70px;
    height:70px;

    font-size:28px;
    font-weight:bold;

    border:none;
    border-radius:12px;

    background:#444;
    color:white;

    cursor:pointer;

    touch-action:none;

}

button:active{

    background:#777;

}

#game-container{

    display:flex;
    justify-content:center;
    align-items:center;

    width:100%;
}